* {
  font-family: 'Inconsolata';
  color: white;
  box-sizing: border-box;
}


body {
  text-align: center;
  margin:  0 auto;
  background-color: black;
  font-size: 15px;
}

.intro {
  font-size: 25px;
}


.inGame {
  opacity: 100;
  display: none;
}


#board {
  border-style: none;
  /*border-color: white;*/
  width: 600px;
  height: 600px;
  margin: 0 auto;
  font-size: 140px;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 25px;
}

.score {
  text-align: left;
  border-color: white;
  padding-left: 50px;
  position: absolute;
  top: 130px;
  left: 5px;
}

.X{
  top: 150px;
}

.O{
  top: 170px;
}


.row-0, .row-1, .row-2 {
  width: 600px;
  border-color: white;
  height: 200px;
  border-style: dotted;
  margin: 0 auto;
  /*text-align: center;*/
  display:flex;
}

.column {
  width: 200px;
  height: 200px;
  border-color: white;
  border-style: dotted;
  display: inline-block;
  /*margin: 0 auto;*/
  /*text-align: center;*/

}

button {
  width: 20%;
}

#computerMode {
  font-size: 12px;
}


#mode {
  text-align: center;
  font-size: 12px;
  margin:  0 auto;
  /*margin-bottom: -5px;*/
}

#gameType {
    text-align: center;
    font-size: 12px;
    margin:  0 auto;
    /*margin-bottom: -5px;*/

}

img {
  margin-right: 50px;
}

#difficulty {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
