* {
  font-family: 'Inconsolata';
  color: white;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin:  0 auto;
  background-color: black;
}


#board {
  border-style: none;
  /*border-color: white;*/
  width: 600px;
  height: 600px;
  margin: 0 auto;
  font-size: 160px;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.row-0, .row-1, .row-2 {
  width: 600px;
  border-color: white;
  height: 200px;
  border-style: dotted;
  margin: 0 auto;
  /*text-align: center;*/
  display:flex;
}

#scoreTotal {
  text-align: left;
  border-radius: 50%;
  border-color: white;
  padding-left: 50px;

}

#scoreTotal.score {
    text-decoration: underline;
}


.column {
  width: 200px;
  height: 200px;
  border-color: white;
  border-style: dotted;
  display: inline-block;
  /*margin: 0 auto;*/
  /*text-align: center;*/

}

button {
  background-color: white;
  color: black;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 10%;
}
